.homeContainer {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.headerText {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subHeaderText {
  font-size: 16px;
  margin-bottom: 20px;
}

.semesterContainer {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 2px solid #ccc;
  padding: 5px;
  text-align: left;
}
input[type="text"],
input[type="number"],
select {
  width: 100%;
  border: none; 
  outline: none;
  padding: 8px;
  border-radius: 4px; 
  /* background-color: #f0f0f0; */
  height: 50px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.gpaContainer {
  margin-top: 20px;
  font-weight: bold;
}
.removeButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.removeButton:hover {
  background-color: #bd2130;
}
.removeAllButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.removeAllButton:hover {
  background-color: #bd2130;
}
.gradeTable {
  margin-top: 20px;
}
.gradeTableContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.exampleTable {
  margin-top: 20px;
}