.homeContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.headerContainer {
  margin-bottom: 20px;
}

.headerText {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.subHeaderContainer{
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.subHeaderText {
  font-size: 16px;
}

.toolContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
}

.toolCard {
  width: calc(33.33% - 20px);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.toolCard:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolCard h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.toolCard p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.toolButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.toolButton {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.toolButton:hover {
  background-color: #0056b3;
}
.featureSection {
  padding: 20px;
  margin-bottom: 20px;
}

.featureHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color:#007bff;
}

.featureContainer {
  display: flex;
  flex-wrap: wrap;
}

.featureCard {
  flex: 1 1 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
}
.featureCard:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #007bff;
  color: #fff;
}

.featureCardContent {
  padding: 20px;
}
.feedbackSection{
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.feedbackHeader{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #007bff;
}
.feedbackCard {
  padding: 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.feedbackCard:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.subscribeSection {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #5c5c5c;
}
.subscribeHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #007bff;
}
.subscribeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subscribeInputContainer {
  margin-bottom: 20px;
}
.subscribeInput {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.subscribeButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}