.homeContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.headerContainer {
  margin-bottom: 20px;
}

.headerText {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.subHeaderContainer{
  align-items: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.subHeaderText {
  font-size: 16px;
}

.toolContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.toolCard {
  width: calc(33.33% - 20px);
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toolCard:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toolCard h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.toolCard p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.toolButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.toolButton {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.toolButton:hover {
  background-color: #0056b3;
}
